
#stacks_in_347_page4 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_347_page4 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_347_page4 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}