{% extends "ProvipApplicationBundle::base_company.html.twig" %}


{% block main %}

    <section class="main padder">

        <div class="clearfix"> <h4><i class="icon-magic"></i> Help</h4> </div>

        <div class="row">

            <div class="col col-lg-3">

                <ul class="list-group">
                    <li class="list-group-item"> <a href="#a">Registering for a new account</a> </li>
                    <li class="list-group-item"> <a href="#b">Setting things up</a> </li>
                    <li class="list-group-item"> <a href="#c">Step 1: Complete your Company information and personal profile</a> </li>
                    <li class="list-group-item"> <a href="#d">Step 2: Create and publish an opportunity</a> </li>
                    <li class="list-group-item"> <a href="#e">Step 3: Add support staff</a> </li>
                    <li class="list-group-item"> <a href="#f">Managing Internships</a> </li>
                    <li class="list-group-item"> <a href="#g">Approve or Reject an application</a> </li>
                    <li class="list-group-item"> <a href="#h">Internship Progress and Feedback</a> </li>
                    <li class="list-group-item"> <a href="#i">Internship Evaluation</a> </li>
                </ul>

            </div>

            <div class="col col-lg-9">

                <h3 id="a">Registering for a new account</h3>

                <p>To register for a Company Account, select the Register As Company option from the log-in menu. </p>
                <p>Enter the necessary information and submit the form. Your account will be activated.</p>

                <div class="line"></div>

                <h3 id="b">Setting things up</h3>

                <p>When you log in into Pathway you’ll see seven menu items.</p>
                <ul>
                    <li>Dashboard: This gives you an overview of all internship activity of your interns.</li>
                    <li>Marketplace: This gives you an overview of suitable candidates for your available positions.</li>
                    <li>My Interns: Here you can check the progress of students in an active internship or approve pending applications. You can also start the evaluation process for internships that are marked as completed.</li>
                    <li>Company: This is the profile page of your company. Here you can give more detailed information about your company, the sector it operates in and upload a logo.</li>
                    <li>Staff: You can invite colleagues to the platform so they can assist in the follow-up of internship or be the contact person for specific issues.</li>
                    <li>Opportunities: This gives you an overview off all your available positions. Here you can create and publish new internships.</li>
                    <li>Settings: This is your personal profile page. You can add a profile picture and complete your contact information.</li>
                </ul>

                With the blue “+Post” button next to the Pathway Title you can post announcements. These are visible to every registered staff member and intern in your company.

                <div class="line"></div>

                <h3 id="c">Step 1: Complete your Company information and personal profile</h3>

                <p>
                    Open the Company page from the menu. Here you can upload your company logo and give additional information to the students on your location, languages used in the work space and the services you provide. You can select multiple languages from the drop down menu ‘Other accepted languages”.</p>
                <p>
                   Click on Settings to go to your personal profile. You can upload a profile picture which will be used throughout the platform when posting announcements or giving feedback on student activities. You can also change your password and add other contact information.</p>
                <p>
                    In the “You can contact me for” field you can mention all the specific issues that you handle for students when they are enrolled in an internship. For example “Everything related to legal documents and student contracts.” or “Technological support and access to collaborative working spaces on the company’s intranet”</p>


                <div class="line"></div>

                <h3 id="d">Step 2: Create and publish an opportunity</h3>

                <p>To create an Internship opportunity for students, click on the “Opportunities” icon in the menu. Press the blue “Opportunity” button on the right and enter the necessary details like the title, duration and available positions. To finalize the opportunity select the opportunity from the list and click the corresponding “Complete” button.</p>

                <p>Now you can add additional information under Profile, Communication Protocol and Goals.
                Under “Profile” you can give a description of the internship, choose the necessary skills and explain the selection procedure. You can also add additional contact information, so applicants know who to reach in case they have questions. “Communication Protocol” lists the way the company and its internship mentor will communicate with the intern. Do you use Skype or will the intern have access to the companies web conferencing platform? How often do you meet with the interns and what do they have prepare for each meeting?
                A clear and transparent communication protocol makes it easier for the intern to plan his work and make him feel truly a part of the team. Under “Goals” you can list the overall goals of the internship and the accompanying tasks. A goal might be to “develop a web application” or “write a marketing plan”. When creating a goal, you can immediately add tasks. Tasks are essential deliverables necessary to reach that goal and complete the internship successfully. A goal like “Develop a web application” might have the following tasks “Write a requirements document”, “Create a prototype” and “UX testing”. It is up to the intern to add specific activities to each of those tasks to successfully complete them.
                </p>

                <p>When your opportunity is ready, you can publish it by clicking the publish button next to it. Your internship opportunity is now available on the “Market Place” for registered students.
                You can track applications on the Dashboard or access a detailed overview and the internship charter on the “My Interns” page. (See “Managing Internships)</p>


                <div class="line"></div>
                <h3 id="e">Step 3: Add support staff</h3>

                <p>Click on the staff icon to get a list of all staff members that are currently active within your Study Program on Pathway. You can invite a new staff member by clicking on the blue ‘+staff member” button. Fill out the necessary details and submit the form. The staff member will receive an invitation mail to activate his account.
                </p>
                <div class="line"></div>
                <h3 id="f">Managing Internships</h3>

                <p>Click on the “My Interns” icon to get an overview of all running internships and applications. Applications are internships that are not yet approved. The Internships table lists all the current and completed internship. Click on the Progress button to see the activity feed of that particular internship or select Evaluation to go to the Evaluation page.
                </p>
                <div class="line"></div>

                <h3 id="g">Approve or Reject an application</h3>

                <p>To approve an application click on the Review Details button. This will open the Internship Charter of that particular internship.
                </p>
                <p> Internships in Pathway are structured in Tasks and Activities. HEI and companies assign tasks to an internship opportunity. You will see that the specific tasks you added to that “Internship Opportunity” have been set as the deliverables the student has to provide to the company to successfully complete the internship. The same thing has happened with the tasks, the HEI has added to its internship milestones.
                </p>
                <p>A detailed description of the internship is also available as well as information about the communication protocol, selection procedure and the duration of the internship. The duration of the internship can be adjusted by the student, if he wishes to do so.
                </p>
                <p>The student has connected activities that he will perform to complete those tasks and submitted the charter for review. Both tasks and activities are part of the internship charter; an agreement between the different stakeholders and a guarantee to the student for a meaningful internship. If you are satisfied with the activities the student has added to the tasks, you can approve the internship application by clicking the Approve button in the upper right Application Progress window. When both the company and the HEI have approved the application, the internship will begin and you will then have access to the progress page of the internship.
                </p>
                <p>If you want the student to reassess the activities he has provided, you can reject the application by clicking the red “Reject” button. You can provide a reason why the application has been rejected so that the student can make the necessary changes and optionally resubmit the application to the company and the HEI.
                </p>
                <p>You can see the current status of the application in the “Internship Progress” window as well as which stakeholder has already  approved or rejected the application.

                <div class="line"></div>

                <h3 id="h">Internship Progress and Feedback</h3>

                <p>To access the “Internship Progress” page click on the progress button next to the internship you want to check. The “Internship Progress” page gives you an overview of all the student activity and the current status of the internship. You can give feedback on activity updates in the feed or check the status of specific activities in the list on the right of the activity feed.
                </p>
                <p>An activity can have the following progress: “not yet started”,  “just started”, “almost there” and “finished”. When all activities have the “finished” update, the connecting task is completed.
                </p>
                <p> You can give Poor, Fair or Good graded feedback with clarification on each internship activity update the student does. Your latest feedback on an activity update will be used during the evaluation phase.  To give feedback, click the give feedback button, select an evaluation grading and enter your motivation. You can only give feedback on updates that are connected to a specific internship activity. Random status updates do not support feedback. When the student completes the internship, the company will also have access to the evaluation page. A student can complete an internship at any moment, even when he was unable to successfully complete some of the tasks or activities.
                </p>
                <p>The Dashboard gives you an overview of all the updates and status of all internships in your study program.
                </p>
                <div class="line"></div>

                <h3 id="i">Internship Evaluation</h3>

                <p>The Internship Evaluation Page gives an overview of the basic information of the internship, a detailed list of all tasks, connected activities and feedback. Here every stakeholder can write a final reflection or motivation on the internship, its process and its evaluation.
                </p>
                <p>The evaluation page and the additional feedback of all stakeholders is visible for all parties involved in this internship; the student, the company and the HEI.
                </p>


            </div>

        </div>

    </section>








{% endblock %}