{% extends "ProvipApplicationBundle::base_hei.html.twig" %}


{% block main %}

    <section class="main padder">

        <div class="clearfix"> <h4><i class="icon-magic"></i> Help</h4> </div>

        <div class="row">

            <div class="col col-lg-3">

                <ul class="list-group">
                    <li class="list-group-item"> <a href="#a">Registering for a new account</a> </li>
                    <li class="list-group-item"> <a href="#b">Setting things up</a> </li>
                    <li class="list-group-item"> <a href="#c">Step 1: Complete the study program</a> </li>
                    <li class="list-group-item"> <a href="#d">Learning Outcomes and Internship Milestones</a> </li>
                    <li class="list-group-item"> <a href="#e">Skills</a> </li>
                    <li class="list-group-item"> <a href="#l">Student Internship Tasks</a> </li>
                    <li class="list-group-item"> <a href="#f">Step 2: Complete your profile page</a> </li>
                    <li class="list-group-item"> <a href="#g">Step 3: Add support staff and approve students</a> </li>
                    <li class="list-group-item"> <a href="#h">Managing Internships</a> </li>
                    <li class="list-group-item"> <a href="#i">Approve or Reject an application</a> </li>
                    <li class="list-group-item"> <a href="#j">Internship Progress and Feedback</a> </li>
                    <li class="list-group-item"> <a href="#k">Internship Evaluation</a> </li>
                </ul>

            </div>

        <div class="col col-lg-9">

                <h3 id="a">Registering for a new account</h3>

            <p>Pathway is developed for internships that are an integrated part of the curriculum of study programs at Higher Education Institutions. To apply for a pilot project as a HEI, please contact the project coordinators at http://provip-project.org/contact-information/</p>

            <div class="line"></div>

                <h3 id="b">Setting things up</h3>

            <p>When you log in into Pathway you’ll see six menu items.</p>

            <ul>
                <li>
                    Dashboard: This gives you an overview of all internship activity of your students</li>
                <li>  Internships: Here you can check the progress of students in an active internship or approve pending applications. You can also start the evaluation process for internships that are marked as completed.</li>
                <li>  Study Program: This is the profile page of your study program. Here you can write down learning outcomes, identify skills and assign specific tasks to registered students.</li>
                <li>    Staff: You can invite colleagues to the platform so they can assist in the follow-up of internship or be the contact person for specific issues.</li>
                <li>    Students: This gives you an overview off all your students. Here you can approve or deny the enrollment of students in your study program.</li>
                <li>    Settings: This is your personal profile page. You can add a profile picture and complete your contact information.
                </li>
            </ul>


            <p>With the blue “+Post” button next to the Pathway Title you can post announcements. These are visible to every registered staff member and student in your study program.</p>
            <div class="line"></div>

                <h3 id="c">Step 1: Complete the study program</h3>

            <p>Click on the Study Program icon to open its page. This page is divided into three parts.</p>
            <div class="line"></div>

                <h3 id="d">Learning Outcomes and Internship Milestones</h3>

            <p>Here you have the option to complete the overall Learning Outcomes of your study program as well as the specific Internship Milestones.</p>
            <div class="line"></div>

                <h3 id="e">Skills</h3>

            <p>You can add skills and competences your students should have acquired here. These are important for the Internship Market place. They will be added to the profile of every student in your study program that is looking for an internship at companies that participate in Pathway. The skill set reflects the specific competences your students have and are an important factor in the positioning of your study program and its students to companies.
            </p>
            <div class="line"></div>
            <h3 id="l">Student Internship Tasks</h3>

            <p>When you access Pathway for the first time, this list will be empty. When you have approved registered users under the Students tab, their names will appear here. You can then add specific tasks for the internship. These tasks will be the internship deliverables for the HEI. Tasks may include reflection assignments like “Write a blog posts every week on your internship activity” or presentation tasks “Present your current internship work at the weekly student meeting”. You can create a different task set for each student.
            </p>
            <p>Your study program page is complete. Now it may be a good idea to complete your own profile page, add supporting staff members and enroll registered students.</p>
            <div class="line"></div>

                <h3 id="f">Step 2: Complete your profile page</h3>

            <p>Click on the Settings icon to open your personal profile page. You can upload a profile picture which will be used throughout the platform when posting announcements or giving feedback on student activities. You can also change your password and add other contact information.
            </p>
            <p>In the “You can contact me for” field you can mention all the specific issues that you handle for students when they are enrolled in an internship. For example “Everything related to legal documents and student contracts.” or “Technological support and access to collaborative working spaces on the company’s intranet”.
            </p><div class="line"></div>

                <h3 id="g">Step 3: Add support staff and approve students</h3>

            <p>Click on the staff icon to get a list of all staff members that are currently active within your Study Program on Pathway. You can invite a new staff member by clicking on the blue ‘+staff member” button. Fill out the necessary details and submit the form. The staff member will receive an invitation mail to activate his account.
            </p>
            <p>Then go to the students page. This will list all the people that have registered on the platform as students in your study program. You can approve or deny their enrollment</p>
            <p>As long as students are not approved as a member of the study program, they cannot apply for internships.</p>

            <p>When you have approved a student, he will be listed in the study program page under Student Internship Tasks. You can now assign specific tasks to the student. These will become a part of that student’s Internship Charter.</p>

            <p>Your account is now ready. Students enrolled in your study program can now apply for internships posted by companies. When they do, an activity update will be posted on your dashboard. You can also check the number of applications and their status by clicking on the “Internships” icon.</p>
            <div class="line"></div>

                <h3 id="h">Managing Internships</h3>

            <p>Click on the “Internships” icon to get an overview of all running internships and applications. Applications are internships that are not yet approved. The Internships table lists all the current and completed internship. Click on the Progress button to see the activity feed of that particular internship or select Evaluation to go to the Evaluation page.
            </p><div class="line"></div>

                <h3 id="i">Approve or Reject an application</h3>

            <p>To approve an application click on the Review Details button. This will open the Internship Charter of that particular internship.</p>

            <p>Internships in Pathway are structured in Tasks and Activities. HEI and companies assign tasks to an internship opportunity. You will see that the specific tasks you added to that student under “Study Program” have been set as the deliverables the student has to provide to the HEI to successfully complete the internship. The same thing has happened with the tasks the company has added to its internship opportunity.
            </p>
            <p>A detailed description of the internship is also available as well as information about the communication protocol, selection procedure and the duration of the internship. The duration of the internship can be adjusted by the student, if he wishes to do so.
            </p>
            <p>The student has connected activities that he will perform to complete those tasks and submitted the charter for review. Both tasks and activities are part of the internship charter; an agreement between the different stakeholders and a guarantee to the student for a meaningful internship. If you are satisfied with the activities the student has added to the tasks, you can approve the internship application by clicking the Approve button in the upper right Application Progress window. When both the company and the HEI have approved the application, the internship will begin and you will then have access to the progress page of the internship.
            </p>
            <p>If you want the student to reassess the activities he has provided, you can reject the application by clicking the red “Reject” button. You can provide a reason why the application has been rejected so that the student can make the necessary changes and optionally resubmit the application to the company and the HEI. An application can be rejected for a variety of reasons ranging from unsatisfactory activities to complete the tasks to an assessment that the provided internship does not suit the goals of the study program.
            </p>
            <p>You can see the current status of the application in the “Internship Progress” window as well as which stakeholder has already  approved or rejected the application.</p>
            <div class="line"></div>

                <h3 id="j">Internship Progress and Feedback</h3>

            <p>To access the “Internship Progress” page click on the progress button next to the internship you want to check. The “Internship Progress” page gives you an overview of all the student activity and the current status of the internship. You can give feedback on activity updates in the feed or check the status of specific activities in the list on the right of the activity feed.
            </p>
            <p>An activity can have the following progress: “not yet started”,  “just started”, “almost there” and “finished”. When all activities have the “finished” update, the connecting task is completed.
            </p>
            <p> You can give Poor, Fair or Good graded feedback with clarification on each internship activity update the student does. Your latest feedback on an activity update will be used during the evaluation phase.  To give feedback, click the give feedback button, select an evaluation grading and enter your motivation. You can only give feedback on updates that are connected to a specific internship activity. Random status updates do not support feedback. When the student completes the internship, the HEI will also have access to the evaluation page. A student can complete an internship at any moment, even when he was unable to successfully complete some of the tasks or activities.
            </p>
            <p>The Dashboard gives you an overview of all the updates and status of all internships in your study program.</p>
            <div class="line"></div>

                <h3 id="k">Internship Evaluation</h3>

            <p>The Internship Evaluation Page gives an overview of the basic information of the internship, a detailed list of all tasks, connected activities and feedback. Here every stakeholder can write a final reflection or motivation on the internship, its process and its evaluation.
            </p>
            <p>The evaluation page and the additional feedback of all stakeholders is visible for all parties involved in this internship; the student, the company and the HEI.
            </p>



        </div>

        </div>

    </section>








{% endblock %}