{% extends "ProvipApplicationBundle::base_student.html.twig" %}


{% block main %}

  <section class="main padder">

      <div class="clearfix"> <h4><i class="icon-magic"></i> Help</h4> </div>

      <div class="row">

          <div class="col col-lg-3">

              <ul class="list-group">
                  <li class="list-group-item"> <a href="#a">Registering for a new account</a> </li>
                  <li class="list-group-item"> <a href="#b">Setting things up</a> </li>
                  <li class="list-group-item"> <a href="#c">Step 1: Complete your profile</a> </li>
                  <li class="list-group-item"> <a href="#d">Step 2: Apply for an internship</a> </li>
                  <li class="list-group-item"> <a href="#e">Internship Progress and Feedback</a> </li>
                  <li class="list-group-item"> <a href="#f">Internship Evaluation</a> </li>
              </ul>

          </div>

          <div class="col col-lg-9">

              <h3 id="a" style="margin-top: 0px;">Registering for a new account</h3>

              <p>You can register for a new account by selecting the “Register as a Student” option.</p>
              <p>When you are registered you can complete your profile. To access other parts of the platform or apply for an internship, your enrollment in the selected Study Program has to be first approved by the Administrator.</p>
              <p>You will get a notification on your Dashboard when your enrollment has been approved.</p>

              <div class="line"></div>

              <h3 id="b">Setting things up</h3>

              <p> When you log in into Pathway you’ll see four menu items.</p>
              <ul>
                  <li>Dashboard: This gives you an overview of all internship activity of your fellow students and announcements by your institution or company.</li>
                  <li>Marketplace: This gives you an overview of available internship opportunities.</li>
                  <li>My Internship: Here you can check and update the progress of your current internship.</li>
                  <li>Settings: This is your personal profile page. You can add a profile picture and complete your contact information.</li>
              </ul>


              <div class="line"></div>


              <h3 id="c">Step 1: Complete your profile</h3>

              <p>While awaiting your enrollment approval by the Study Program administrator, you can complete your personal profile. </p>
              <p>Click on Settings to go to your personal profile. You can upload a profile picture which will be used throughout the platform when posting announcements or internship activity updates.</p>
              <p>You can also change your password and add other contact information. You can also write down a mission statement or link to your website, blog or LinkedIn page.</p>

              <div class="line"></div>

              <h3 id="d">Step 2: Apply for an internship</h3>

              <p>Go to the Market Place to see all available internships. Select an internship you find interesting to see more details. </p>
              <p>Click the Apply button to apply for the internship and open its internship charter. Both the Company and your HEI will be notified that you applied for this internship.</p>

              <p>The internship charter lists the Goals and tasks of the internship for both your university as well as the company.</p>
              <p>Now you can add the activities you think you’ll need to do to successfully complete those tasks.</p>
              <p>A task like “Hand in an Internship Report” might need activities like “Write the report”, “Hand in an interim report” when the internship is halfway done and “Hand in the final report”. </p>
              <p>It is up to you to decide how specific you want an activity to be. Think on how you want to complete the tasks and the different steps that are essential and necessary.</p>

              <p>When you add an activity, you can give it a title, a detailed description and a deadline. For tasks that require a repetitive activity like a weekly update or a meeting, you can fill out the number of occurrences.</p>
              <p>You don’t need to make a new activity entry for each of the meetings or updates.</p>
              <p>The duration of the internship is suggested by the company. Depending on your situation, you can change the start and/or end date of the internship.</p>
              <p>When you have planned all activities for the internship, you can submit your proposal for review by both the company and the HEI. </p>
              <p>When they have approved your proposal, the internship will start. When they have rejected your proposal you get feedback and have the opportunity to make the necessary changes to optionally resubmit your internship charter for review.</p>

              <div class="line"></div>

              <h3>Managing Internships</h3>

              <h4 id="e">Internship Progress and Feedback</h4>

              <p>Click on the “My Internships” icon to get an overview of all your current internship and applications. </p>
              <p>Applications are internships that are not yet approved. </p>
              <p>The Internships table lists all the current and completed internship. Click on the Progress button to see the activity feed of that particular internship or select Evaluation to go to the Evaluation page.</p>

              <p>The “Internship Progress” page gives you an overview of your status updates and feedback, a to do list of activities and the option to review the charter in detail. To make an internship activity update, click the blue “+post” button. </p>
              <p>You can either make a random post, not associated with any activity or connect your update to an internship activity.</p>

              <p>When you connect your update to an activity, write a message detailing your work and select the corresponding activity.</p>
              <p>You can also indicate the current progress of that activity. An activity can have the following progress: “not yet started”,  “just started”, “almost there” and “finished”. When all activities have the “finished” update, the connecting task is completed.</p>

              <p>Your HEI and Company mentor can give feedback on your updates. </p>
              <p>If you want your updates to be visible to only the HEI or only the company, select the according privacy setting. </p>
              <p>To delete an activity update, click the small delete button next to the date of the activity.</p>
              <p>Keep in mind that all corresponding feedback will be removed as well.</p>
              <p>When you want to finish the internship, click the “Complete the Internship” button next to the activity feed. You will then access the “Internship Evaluation” page.</p>

              <h4 id="f">Internship Evaluation</h4>

              <p>The Internship Evaluation Page gives an overview of the basic information of the internship, a detailed list of all tasks, connected activities and feedback. Here every stakeholder can write a final reflection or motivation on the internship, its process and its evaluation.</p>

              <p>The evaluation page and the additional feedback of all stakeholders is visible for all parties involved in this internship; the student, the company and the HEI.</p>

              <div class="line"></div>


          </div>

      </div>

  </section>








{% endblock %}