{% extends "ProvipApplicationBundle::base_admin.html.twig" %}
{% form_theme form 'ProvipApplicationBundle:Form:fields.html.twig' %}

{% block main %}

    <section class="main padder">
    <div class="clearfix">
      <h4></h4>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <section class="panel">
                <header class="panel-heading">
                    Create new Study Programme
                </header>
                <div>
                    <form action="{{ path('provip_application_admin_create') }}" method="POST">

                        <div class="panel alert-info">
                            <p>You can create a new Study Program by filling in this form. </p>

                            <ol>
                                <li>Choose a name for this study program</li>
                                <li>Select the HEI from the dropdown or <strong><a href="{{ path('provip_application_admin_createhei') }}">create a new HEI</a></strong></li>
                                <li>Create an account for the Study Program administrator</li>
                            </ol>

                        </div>
                        {{ form_widget(form) }}

                        <button type="submit" class="btn btn-primary btn-alt">Create Study Program</button>

                    </form>
                </div>
            </section>
        </div>

    </div>
    </section>

{% endblock %}