#sidebarContainer {
	display: none;
}

#contentContainer {
	margin-right: 0;
	margin-left: 0;
}

#contentContainer #content {
	border-right: none;
	border-left: none;
}

#contentContainer #content {
	border-right: none;	
	border-left: none;
}