<li class="{{ status }}">
    {{ learninggoal.enrollment.student.fullName }}
    <ul>
        {% for task in learninggoal.tasks %}
        <li><strong>{{ task.deadline | date("d-m-Y") }}{{ task.title }}</li>
        {% endfor %}
    </ul>
</li>