{% for task in learninggoal.tasks %}
<li class="new"><button class="btn btn-white btn-small remove-task" data-id="{{ task.id }}">{{ task.deadline | date("d-m-Y")}} - {{ task.title}} <i class="icon-remove-sign text-danger"></i></button></li>
{% endfor %}