{% extends "ProvipApplicationBundle::base.html.twig" %}

{% block nav %}
<ul class="nav" data-spy="affix" data-offset-top="50">
    <li><a href="{{ path('provip_application_company_dashboard') }}"><i class="icon-dashboard icon-xlarge"></i>Dashboard</a></li>
    <li><a href="#"><i class="icon-briefcase icon-xlarge"></i>Marketplace</a></li>
    <li><a href="#"><i class="icon-road icon-xlarge"></i>My Interns</a></li>
    <li><a href="{{ path('provip_application_company_settings') }}"><i class="icon-cog icon-xlarge"></i>Settings</a></li>
    {% if is_granted('ROLE_COMPANY_STAFF_ADMIN') %}
    <li><a href="#"><i class="icon-sitemap icon-xlarge"></i>Company</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block user_menu %}
    <ul class="dropdown-menu">
        <li><a href="{{ path('provip_application_company_settings') }}">Settings</a></li>
        <li class="divider"></li>
        <li><a href="docs.html">Help</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    </ul>
{% endblock %}