{% extends "ProvipApplicationBundle::base.html.twig" %}

{% block nav %}
<ul class="nav" data-spy="affix" data-offset-top="50">
    <li><a href="{{ path('provip_application_admin_index') }}"><i class="icon-dashboard icon-xlarge"></i>Dashboard</a></li>
    <li><a href="{{ path('provip_application_admin_listofstudents') }}"><i class="icon-user icon-xlarge"></i>Students</a></li>
    <li><a href="{{ path('provip_application_admin_listofcompanies') }}"><i class="icon-building icon-xlarge"></i>Companies</a></li>
</ul>
{% endblock %}

{% block user_menu %}
    <ul class="dropdown-menu">
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    </ul>
{% endblock %}

