{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <section id="content">
        <div class="row">
            <div class="col col-lg-4 col-offset-4 m-t-large">
                <section class="panel">
                    <header class="panel-heading text-center">
                        Forgot your password?
                    </header>
                    <p>Password already requested in the previous 24 hours.</p>
                    <p><a class="btn btn-alt btn-block" href="{{ path('provip_application_default_index') }}">Go to homepage &raquo;</a></p>
                </section>
            </div>
        </div>
    </section>

{% endblock fos_user_content %}
