{% trans_default_domain 'FOSUserBundle' %}


<section id="content">
    <div class="row">
        <div class="col col-lg-4 col-offset-4 m-t-large">
            <section class="panel">
                <header class="panel-heading text-center">
                    Forgot your password?
                </header>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

                    <p>You can request a password reset link by submitting your email or username.</p>

                    <div>
                        {% if invalid_username is defined %}
                            <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
                        {% endif %}
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" required="required" />
                    </div>
                    <div>
                        <br>
                        <input class="btn btn-alt btn-primary pull-right" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                    </div>
                    <div class="clear"></div>
                </form>
            </section>
        </div>
    </div>
</section>


